{% extends 'base.html' %}

{% block title %}
  @{{ user.username }} | New Post
  {{ block.super }}
{% endblock %}

{% load static %}

{% block content %}
  {% block css %}
    <link rel="stylesheet" href="{% static 'css/posts/new.css' %}" />
    <link rel="stylesheet" href="{% static 'css/drag_and_drop.css' %}" />
    <link rel="stylesheet" href="{% static 'css/posts/posts-grid.css' %}" />
  {% endblock %}
  {% comment %}TODO Add breadcrumb navigation{% endcomment %}
  <div class="container">
    <form action="{% url 'posts:create' %}" method="POST" enctype="multipart/form-data">
      {% csrf_token %}
      <div class="posts-grid">
        <div class="post-container">
          <div class="post-controls">
            <button class="btn btn-primary btn-rounded" type="submit" name="create_post">
              <div class="d-flex justify-content-center align-items-center">
                <svg width="1.5em" height="1.5em" viewBox="0 0 16 16" class="bi bi-upload" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                  <path fill-rule="evenodd" d="M.5 9.9a.5.5 0 0 1 .5.5v2.5a1 1 0 0 0 1 1h12a1 1 0 0 0 1-1v-2.5a.5.5 0 0 1 1 0v2.5a2 2 0 0 1-2 2H2a2 2 0 0 1-2-2v-2.5a.5.5 0 0 1 .5-.5z" />
                  <path fill-rule="evenodd" d="M7.646 1.146a.5.5 0 0 1 .708 0l3 3a.5.5 0 0 1-.708.708L8.5 2.707V11.5a.5.5 0 0 1-1 0V2.707L5.354 4.854a.5.5 0 1 1-.708-.708l3-3z" />
                </svg>
              </div>
            </button>
          </div>
          <div class="post create-post">
            <div class="post-content px-4 pt-4 pb-1">
              {% include 'posts/post-header.html' with user=user profile=profile created=created %}
              <input type="hidden" name="user" value="{{ user.pk }}" />
              <input type="hidden" name="profile" value="{{ profile.pk }}" />
              <div class="form-group">
                <h2 class="post-title form-control {% if form.title.errors %} is-invalid {% endif %}" id="title__editable" role="textbox" contenteditable>{% if form.errors %}{{ form.title.value }}{% endif %}</h2>
                <textarea hidden name="title" id="title"></textarea>
                <div class="invalid-feedback">
                  {% for error in form.title.errors %}
                    {{ error }}
                  {% endfor %}
                </div>
                <span class="post-content form-control {% if form.content_text.errors %} is-invalid {% endif %}" id="content_text__editable" role="textbox" contenteditable>{% if form.errors %}{{ form.title.value }}{% endif %}</span>
                <textarea hidden name="content_text" id="content_text"></textarea>
                <div class="invalid-feedback">
                  {% for error in form.content_text.errors %}
                    {{ error }}
                  {% endfor %}
                </div>
              </div>
            </div>

            <span class="btn btn-image btn-file square-image cursor-pointer p-0">
              <input onchange="onImageSelected(event)" type="file" placeholder="Imagen" id="photo" aria-describedby="photo" name="photo" class="form-control" required />
              <div for="photo" class="dropzone">
                <img src="{% static 'img/Photo_01.png' %}" />
                <span class="content-text">Arrastra aqui una imagen.</span>
              </div>
              <img alt="Imagen del evaluado" class="image-preview" id="image-preview" />
            </span>
            {% if form.photo.errors %}
              {% if invalidPhoto.type %}
                <div class="invalid-feedback">* El tipo de archivo no es válido.</div>
              {% endif %}
              {% if invalidPhoto.size %}
                <div class="invalid-feedback">* El tamaño de la imagen debe ser menor a 1MB.</div>
              {% endif %}
            {% endif %}
          </div>
        </div>
      </div>
    </form>
  </div>
{% endblock %}
{% block script %}
  {{ block.super }}
  <script src="{% static 'js/posts/new.js' %}"></script>
  <script src="{% static 'js/drag_and_drop.js' %}"></script>
  <script src="{% static 'js/modules/minimasonry.js' %}" type="module"></script>
  <script src="{% static 'js/posts/masonry.js' %}" type="module"></script>
{% endblock %}
