{% extends 'base.html' %}

{% load static %}
{% block container %}
  {% comment %}TODO Add breadcrumb navigation{% endcomment %}
  <h6 class="h6">Create a new post</h6>
  <div class="row justify-content-center">
    <div class="col-lg-6 p-0">
      <div class="post-min-container create-post p-4">
        <div class="user-banner d-flex align-items-center">
          <a href="{% url 'users:profile' user.username %}" class="profile-picture user-picture">
            <div class="embed-responsive embed-responsive-1by1">
              {% if profile.picture %}
                <img class="rounded-circle embed-responsive-item rounded-circle" src="{{ profile.picture.url }}" alt="Picture profile of {{ user }}" />
              {% else %}
                <img class="rounded-circle embed-responsive-item rounded-circle" src="{% static 'img/user_logo.png' %}" alt="Picture profile of {{ user }}" />
              {% endif %}
            </div>
          </a>
          <div class="data-post ml-2">
            <h4 class="">{{ user.username }}</h4>
            <span>{{ current_date }}</span>
          </div>
        </div>
        <form action="{% url 'posts:create' %}" method="POST" enctype="multipart/form-data">
          {% csrf_token %}
          <input type="hidden" name="user" value="{{ user.pk }}" />
          <input type="hidden" name="profile" value="{{ profile.pk }}" />
          <div class="form-group">
            <input class="post-title form-control {% if form.title.errors %} is-invalid {% endif %}" type="text" placeholder="Post title" name="title" value="{% if form.errors %}{{ form.title.value }}{% endif %}" />
            <div class="invalid-feedback">
              {% for error in form.title.errors %}
                {{ error }}
              {% endfor %}
            </div>
          </div>
          <div class="form-group">
            <textarea class="form-control {% if form.content_text.errors %} is-invalid {% endif %}" name="content_text" placeholder="Count what you want...">
              {% if form.errors %}{{ form.content_text.value }}{% endif %}
            </textarea>
            <div class="invalid-feedback">
              {% for error in form.content_text.errors %}
                {{ error }}
              {% endfor %}
            </div>
          </div>
          <div class="form-group">
            <span class="btn btn-image btn-file square-image cursor-pointer p-0">
              <input onchange="onImageSelected(event)" type="file" placeholder="Imagen" id="photo" aria-describedby="photo" name="photo" class="form-control position-absolute" required />
              <div class="dropdown-input">Arrastra aqui una imagen.</div>
              <img alt="Imagen del evaluado" class="image-preview img-fluid w-100 h-100" id="image-preview" />
            </span>
            {% comment %} {% if form.photo.errors %}
              {% if invalidPhoto.type %}
                <div class="invalid-feedback">* El tipo de archivo no es válido.</div>
              {% endif %}
              {% if invalidPhoto.size %}
                <div class="invalid-feedback">* El tamaño de la imagen debe ser menor a 1MB.</div>
              {% endif %}
            {% endif %} {% endcomment %}
          </div>
          {% comment %} <div class="form-group">
            <div class="row">
              <div class="input-group col col-md-8">
                <div class="custom-file">
                  <input type="file" class="custom-file-input
                          {% if form.photo.errors %}
                              is-invalid
                          {% endif %}
                          " id="photo" aria-describedby="photo" name="photo" onchange="updatePhotoLoaded('photo')" />
                  <label class="custom-file-label" id="photo-label">Select a file...</label>
                </div>
              </div>
              <div class="invalid-feedback">
                {% for error in form.photo.errors %}
                  {{ error }}
                {% endfor %}
              </div>
            </div>
          </div> {% endcomment %}
          <div class="form-group">
            <div class="mb-3 d-flex justify-content-end">
              <button class="btn btn-primary btn-rounded" type="submit" name="create_post">
                <div class="d-flex justify-content-center align-items-center">
                  <svg width="1.5em" height="1.5em" viewBox="0 0 16 16" class="bi bi-upload" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                    <path fill-rule="evenodd" d="M.5 9.9a.5.5 0 0 1 .5.5v2.5a1 1 0 0 0 1 1h12a1 1 0 0 0 1-1v-2.5a.5.5 0 0 1 1 0v2.5a2 2 0 0 1-2 2H2a2 2 0 0 1-2-2v-2.5a.5.5 0 0 1 .5-.5z" />
                    <path fill-rule="evenodd" d="M7.646 1.146a.5.5 0 0 1 .708 0l3 3a.5.5 0 0 1-.708.708L8.5 2.707V11.5a.5.5 0 0 1-1 0V2.707L5.354 4.854a.5.5 0 1 1-.708-.708l3-3z" />
                  </svg>
                </div>
              </button>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
{% endblock %}
{% block script %}
  {{ block.super }}
  <script src="{% static 'js/label_name.js' %}"></script>
  <script src="{% static 'js/load_photo.js' %}"></script>
{% endblock %}
