.posts-grid {
    margin: 0 auto;
    position: relative;
}

.post-container {
    width: 50%;
    position: absolute;
}

@media (max-width: 568px) {
    .post-container {
        width: 100%;
    }
}