/* -------------- HEADER ------------- */

body>.header {
    --stari-header-height: 80px;
    margin-bottom: 20px;
    height: var(--stari-header-height);

    background: var(--stari-header-background);
    background: linear-gradient(45deg, var(--stari-main-gradient-color-1) 55%, var(--stari-main-gradient-color-2) 100%);

    .header-fixed {
        background: inherit;
        box-shadow: 0px 2px 20px 0px #98bcff80;
        position: fixed;
        top: 0;
        width: 100%;
        height: var(--stari-header-height);
        z-index: 5;
    }

    .header-content {
        display: flex;
        justify-content: space-between;
        align-items: center;
        height: 100%;
    }


    .header-actions {
        display: flex;
        align-items: center;
        gap: 1rem;
    }

    .profile-picture-container {
        height: 60px;
        width: 60px;
        padding: 0;
        margin: 0;
    }

    .profile-picture-container.dropdown-toggle {
        overflow: initial;
        background-color: unset;
        background: unset;
        outline: none;
        border: none;
    }

    .profile-picture-container.dropdown-toggle::after {
        display: none;
    }

    .profile-picture-container.dropdown-toggle:active {
        outline: none;
        border: none;
    }

    .dropdown .icon {
        --stari-color-fill: var(--stari-page-icons-color);
    }

    .profile-picture {
        box-shadow: 2px 2px 5px -3px #01093391;
        transition: 0.1s ease all;
    }

    .profile-picture:hover {
        filter: brightness(0.95);
    }

    .profile-picture:active {
        transform: scale(1.05);
    }

    .icon {
        --stari-color-fill: var(--stari-header-icons-color);
    }

    .brand {
        display: flex;
        justify-content: space-evenly;
        align-items: center;
        letter-spacing: 2px;
    }

    .brand .brand-element {
        margin: 0px 10px;
    }

    .brand .image {
        height: 50px;
        width: auto;
        background-color: #ffffff;
        margin: 0px 15px;
        display: flex;
        justify-content: center;
        align-items: center;
        border-radius: 40px;
        box-shadow: 0px 3px 15px 2px #98bcff80;
    }

    .brand .image img {
        height: 40px;
        width: 40px;
        margin: 0px 10px;
    }

    .brand h1 {
        font-size: 30px;
        font-weight: lighter;
        margin: 0px;
        color: #ffffff;
        text-shadow: 0px 5px 10px #cccccc4d;
    }
}