body.colors {
    --stari-blue-1: #0b1d85;
    --stari-blue-2: #004dc8;
    --stari-blue-shadow-1: #98bcff80;
    --stari-white-1: #fef9ff;
    --stari-white-shadow-1: #bebebe80;
    --stari-white-2: #ffffff;
    --stari-white-shadow-2: #2c2d2ca6;
    --stari-white-3: #ffe7f9;
    --stari-white-shadow-3: #523f4ba6;
    --stari-black-1: #2f2329;
}

body.concepts {
    --stari-main-gradient-color-1: var(--stari-blue-1);
    --stari-main-gradient-color-2: var(--stari-blue-2);
    --stari-main-text-color: var(--stari-black-1);
    --stari-main-bg-color: var(--stari-white-1);
    --stari-main-shadow-color: var(--stari-white-shadow-1);
    --stari-secondary-bg-color: var(--stari-white-2);
    --stari-secondary-shadow-color: var(--stari-white-shadow-2);
    --stari-tertiary-bg-color: var(--stari-white-3);
    --stari-tertiary-shadow-color: var(--stari-white-shadow-3);
}

body.entities {
    --stari-header-background: var(--stari-main-gradient);
    --stari-page-background: var(--stari-main-bg-color);
    --stari-post-text: var(--stari-main-text-color);
    --stari-post-background: var(--stari-secondary-bg-color);
}

body {
    margin: 0px;
    padding: 0px;
    font-weight: 400;
    background-color: var(--stari-main-bg-color);
}


/* BOTONES */
.btn {
    border-radius: 50px 50px 50px 50px;
}

.button-icon {
    height: 20px;
    width: 20px;
    margin: auto;
}

.btn-rounded {
    border-radius: 50% !important;
    height: 3em;
    width: 3em;
    padding: 0 !important;
}

.content {
    width: fit-content;
    margin: 0px auto;
    margin-top: 80px;
}


/* -------------- UPDATE PROFILE ------------- */
.container-update-profile .user-data {
    background-color: #00beff14;
    border-radius: 10px;
    padding: 20px;
}

.container-update-profile .picture-big {
    width: 15rem;
    height: 15rem;
}

.container-update-profile .profile-picture .hover-img {
    position: absolute;
    z-index: 5;
    background-color: #010b4260;
    width: inherit;
    height: inherit;
    display: none;
}

.container-update-profile .profile-picture .custom-file-input {
    width: 70%;
    height: 4rem;
}

.container-update-profile .profile-picture .custom-file-label {
    width: 70%;
    height: 4rem;
    bottom: 0;
    background: none;
    border: none;
    margin: auto;
    color: #ffffff;
    padding: 0;
    text-align: center;
}

.container-update-profile .profile-picture .custom-file-label::after {
    background-color: #0464ff;
    color: #ffffff;
    position: unset;
    border-radius: 10px;
    margin-top: 2px;
}

.user-picture {
    width: 80px;
    height: 80px;
}