
.formulary {
  width: 400px;
}

/* -------------- CREATE POST ------------- */

.create-post .form-control {
  border: 0px;
  border-radius: 2px;
  border-bottom: 1px solid #9c9c9c;
  padding: 0px;
  margin-bottom: 0px;
}
.create-post .form-control:focus {
  border-bottom: 2px solid #004dc8;
  box-shadow: 0px 3px 4px -4px #004dc8!important;
}

.create-post .form-control.post-title {
  font-size: 30px;
  font-weight: 700;
  color: rgb(22, 22, 22);
}
.create-post .form-control[contenteditable]{
  height: unset;
  overflow: hidden;
}
.create-post .form-control.post-title[contenteditable]:empty::before {
  content: "Post title";
  color: gray;
}
.create-post .form-control.post-content[contenteditable]:empty::before {
  content: "Write anything you want...";
  color: gray;
}
@media (max-width: 576px) {
    .create-post {
        margin: 0;
        border-radius: 0px;
        box-shadow: none;
    }
}

.post-controls{
  position: absolute;
  left: 100%;
  display: grid;
  grid-template-rows: 1fr;
  padding-top: 0.5rem;
}

@media (max-width: 568px) {
    .post-controls {
      padding: 0.5rem;
      position: relative;
      right: 0%;
      left: unset;
      display: flex;
      justify-content: flex-end;
    }
}