html {
    height: 100%;
}

body {
    margin: 0;
    height: 100%;
    box-sizing: border-box;
    background: var(--stari-auth-bg-color);
    background: linear-gradient(45deg, var(--stari-main-gradient-color-2) 55%, var(--stari-main-gradient-color-1) 100%);
}

.main-container {
    height: 100%;
    display: flex;
    align-items: center;
}

.auth-title {
    text-align: center;
    font-size: 2rem;
    font-weight: 700;
}

.auth-container {
    max-width: 400px;
    padding: 20px 30px;
    box-sizing: border-box;
    background-color:  var(--stari-auth-form-bg-color);
    box-shadow: 2px 2px 20px -5px var(--stari-auth-form-shadow-color);
    border-radius: 10px;
}

.auth-container-header {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.auth-container h1,
.auth-container h2 {
    margin: 10px 0px;
    letter-spacing: 2px;
}

.auth-container p {
    font-size: 20px;
}

.invalid-feedback {
    text-align: start !important;
}

.btn {
    border-radius: 50px 50px 50px 50px;
}
.btn-primary{
    background-color: var(--stari-auth-form-button-bg-color);
    border-color:  var(--stari-auth-form-button-bg-color);
}
.btn-primary:hover{
    background-color: var(--stari-auth-form-button-hover-bg-color);
}
.btn-primary:not(:disabled):not(.disabled):focus{
    background-color: var(--stari-auth-form-button-bg-color);
    box-shadow: 0 0 0 .2rem  var(--stari-auth-form-button-shadow-color);
}
.btn-primary:not(:disabled):not(.disabled):active{
    background-color: var(--stari-auth-form-button-hover-bg-color);
}
.btn-primary:not(:disabled):not(.disabled):active:focus{
    box-shadow: 0 0 0 .2rem  var(--stari-auth-form-button-shadow-color);
}