{% extends 'base.html' %}

{% block title %}
  @{{ user.username }} | Profile {{ block.super }}
{% endblock %}

{% load static %}

{% block content %}
  {% block css %}
    <link rel="stylesheet" href="{% static 'css/posts/posts-grid.css' %}" />
    <link rel="stylesheet" href="{% static 'css/users/profile.css' %}" />
  {% endblock %}
  <div class="container-fluid">
    <div class="row">
      <div class="col-3 position-relative">
        <div class="profile-container-fixed">
          <div class="profile-container">
            <div class="profile-picture-container picture-big">
              <img src="{% if user.profile.picture %}
                  {{ user.profile.picture.url }}
                {% else %}
                  {% static 'img/user_logo.png' %}
                {% endif %}"
                alt="{{ user.first_name }}"
                class="profile-picture rounded-circle"
                id="profile-picture-{{ user.pk }}" />
            </div>
            <div class="profile-header">
              <h1 class="h6 pb-0 mb-0">@{{ user.username }}</h1>
              <h1 class="h6 pb-0 mb-0">{{ user.first_name }} {{ user.last_name }}</h1>
              <label>{{ user.profile.description }}</label>
            </div>
          </div>
        </div>
      </div>
      <div class="col-9">
        <div class="container">
          <section class="posts-grid">
            {% for post in posts %}
              <article class="post-container">
                {% include 'posts/post.html' with post=post %}
              </article>
            {% endfor %}
          </section>
        </div>
      </div>
    </div>
  </div>
{% endblock %}

{% block script %}
  {{ block.super }}
  <script src="{% static 'js/modules/minimasonry.js' %}" type="module"></script>
  <script src="{% static 'js/posts/masonry.js' %}" type="module"></script>
{% endblock %}
